__pycache__/
*.py[cod]
*.sqlite3
*.log
*.pot
*.pyc
*.pyo
*.pyd
*.db
*.sqlite3-journal

# Django stuff
media/
staticfiles/
static/
.env
.env.*
*.env

# environment variables
.env
.env.local
.env.production
.env.development

venv/
env/
ENV/
.venv/

*.sql
*.dump
*.psql


